.icon-meaning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  background-color: #fafafa;
  min-height: 42vh;
  margin-bottom: 7vh;
}

.icon-meaning p {
  font-size: 30px;
  letter-spacing: 2.14px;
  text-align: center;
}

.icon-meaning > div {
  display: flex;
  justify-content: center;
  gap: 9vw;
}

.king-dish-icon {
  width: 5.5vw;
  height: 9.7vh;
  object-fit: contain;
}

/* mobile style */
@media (max-width: 375px) {
  .icon-meaning {
    flex-direction: column;
  }

  .icon-meaning p {
    font-size: 26px;
    margin-top: 4vh;
  }

  .icon-meaning > div {
    flex-direction: column;
    margin-bottom: 4vh;
  }

  .king-dish-icon {
    width: 13vw;
    height: 18vh;
  }
}
