.footer {
  height: 13vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: sticky;
  border-top: 0.1px solid #cccbcb;
}

.footer button {
  font-size: 18px;
  letter-spacing: 1.92px;
  background-color: transparent;
  border: none;
}

.footer button:hover {
  cursor: pointer;
}

/* mobile style */
@media (max-width: 375px) {
  .footer {
    flex-direction: column;
    height: fit-content;
    margin-bottom: 2.5vh;
  }

  .contact {
    margin-top: 2.5vh;
  }
}
