.footer {
  height: 13vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: sticky;
  border-top: 0.1px solid #cccbcb;
}

.footer button {
  font-size: 18px;
  letter-spacing: 1.92px;
  background-color: transparent;
  border: none;
}

.footer button:hover {
  cursor: pointer;
}
