.restaurant-page-filter-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5vh;
}

.restaurant-page-filter-line > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.res-btn {
  border-style: none;
  font-size: 24px;
  letter-spacing: 1.92px;
  background-color: transparent;
}

.res-btn:hover {
  cursor: pointer;
}
