.chef-card {
  width: 27vw;
  height: 54vh;
  position: relative;
}

.chef-card img {
  width: 27vw;
  height: 54vh;
  object-fit: cover;
}

.delete-button > img {
  width: 3vw;
  height: 3vh;
  object-fit: contain;
}

.chef-card button {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: transparent;
  border: none;
}

.chef-card button:hover {
  cursor: pointer;
}

.frame {
  width: 27vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
}

.frame p {
  text-align: center;
  font-family: HelveticaNeueMedium;

  font-size: 32px;
  letter-spacing: 2.67px;
}
